.error {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .error h1 {
    font-size: 45px;
    color: red;
    font-weight: bold;
  }

  .error a {
    color: blueviolet;
  }